// Colores de marca
$c1: #9A9CEA;

$c-disabled: #8C8B94;
$c-disabled2: #706E7B;

// Colores en el sitio
$bkgd: #f4f2fa;
$bkgdb: #1F2023;

// mediaqueries - width [min]
$mobile: 0px; // 0 'cause it's mobile first.
$tablet: 600px;
$desktop: 1024px;