@media (min-width: $mobile) {

    #app-container {
        // padding: 15px;
        // padding-bottom: 0;

        #contenido-violeta {

            height: 220px;

            background-color: #635EFF;

        }

        #contenido-blanco {
            background-color: #ffffff;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
        }

        #contenido-blanco2 {
            background-color: #ffffff;
            width: 100%;
            height: 100%;
        }

        .status {
            border: 2.5px solid #635EFF;
            border-radius: 100%;
            padding: 15px 10px 17px 10px;
            margin-top: -130px;


            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            box-shadow: 5px 5px 39px #d9d9d9,
                -5px -5px 39px #ffffff;

            z-index: 9;
        }

        h1 {
            font-size: 25px;
            font-weight: bold;
        }

        h2 {
            color: #635EFF;
            font-weight: bold;
            font-size: 32px;
        }

        .btn-primary {
            background-color: #635EFF;
            border-color: #635EFF;
        }

        .alert {
            width: 100%;
            border-radius: 12px;
        }


        header {
            height: 60px;
            width: 100%;
            z-index: 99;

            top: 0;
            left: 0;

            nav {
                transition: all .15s linear;
                height: 60px;
                border-radius: 12px 12px 0 0;
                padding: 15px;

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    list-style-type: none;

                    li {
                        a {
                            color: white;
                            text-decoration: none;
                            font-weight: 700;
                            transition: all .15s linear;

                            svg {
                                stroke: white;
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                }
            }

        }
    }

}